:root {
    /* Cores Tema Escuro */
    --primary-color-dark: rgb(255, 0, 102);
    --secondary-color-dark: rgb(32, 31, 31);
    --header-color-dark: rgb(49, 49, 49);
    --text-color-dark: #f1f1f1;
    /* Cores Tema Claro */
    --primary-color-light: rgb(36, 140, 182);
    --secondary-color-light: #bdbdbd;
    --header-color-light: #f1f1f1;
    --text-color-light: #201f1f;
}