@import url(./reset.css);
@import url(./colors.css);
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@keyframes floatBox {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

html {
    scroll-behavior: smooth !important;
}

body{
    margin-top: 8rem;
    font-weight: 100;
    color: var(--text-color-dark);
    background-color: var(--secondary-color-dark); 
    font-family: 'Abel', sans-serif;
    .card {
        padding: 2rem;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 3px var(--primary-color-dark);
        box-shadow: 6px 6px 5px rgba(255, 0, 102, 0.322);
    }
    .backgroundLogo {
        opacity: 0.07;
        z-index: -1000;
        position: fixed;
        left: 34rem;
        width: 40%;
    }
    h1 {
        text-shadow: 0.5px 0.5px 3px var(--primary-color-dark);
        text-align: center;
    }
    p {
        font-size: 1.18rem;
        text-indent: 1rem;
    }
    ul {
        list-style: none;
    }
    li {
        text-indent: 1rem;
        font-size: 1.1rem;
        margin-bottom: 0.2em;
    }
    arrow {
        color: var(--primary-color-dark);
        margin-right: 0.3em;
    }
}

header{
    z-index: 5000;
    height: 7rem;
    background-color: var(--secondary-color-dark);
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    h4 {
        text-shadow: 0.5px 0.5px 3px var(--primary-color-dark);
    }
    nav{
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a.link-content {
                    color: var(--text-color-dark);
                    font-size: 1.7rem;
                    text-decoration: none;
                    position: relative;
                    padding-bottom: 1px;
                }
                a.link-content::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--text-color-dark);
                    transition: width 0.3s ease;
                }
                a.link-content:hover::after{
                    width: 100%;
                }
            }
        }
    }
    .logo{
        gap: 3rem;
        display: flex;
        align-items: center;
        .logo-img {
            padding: 0.5rem;
        }
    }
}
header.scrolled {
    background: rgba(49, 49, 49, 0.63);
    backdrop-filter: blur(3px);
    box-shadow: 0 0px 10px 4px rgba(255, 0, 102);
}

main {
    margin: 2rem;
    .contBoard{
        display: flex;
        padding: 5rem;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: linear-gradient(100deg, rgb(32, 31, 31), rgb(49, 49, 49));
        .title {
            width: 70%;
            display: flex;
            height: 10rem;
        }
        h1{
            background: linear-gradient(90deg, rgb(255, 0, 102), #f5a1c8);
            background-size: 250%;
            font-weight: 900;
            font-size:4rem;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 0 0 8px rgba(223, 17, 79, 0.15);
            animation: gradientMove 9s ease infinite;
        }
        a{
            text-decoration: none;
            color: aliceblue;
            font-size: 1.2rem;
        }
        h3{
            text-align: right;
            margin-top: 3rem;
            border: 2px var(--primary-color-dark) solid;
            justify-self:end;
            background: linear-gradient(90deg, rgb(255, 0, 102), #e05295  );
            padding: 10px;
            border-radius: 50px;
            transition: all 0.5s ease;
        }
        h3:hover{
            box-shadow: 0 0 6px 2px rgb(255, 0, 102);
            transform: scale(1.3);
        }
    }
    .contBoard.scroll {
        background: var(--secondary-color-dark);
    }
    .topico-home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleHome {
            padding: 0.8rem;
            border-radius: 15px;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        .conteudoHome{
            .ap1{
                display: grid;
                grid-template-areas: 
                'oque objF'
                'prfl objE';
                }
                .oqueCurso {
                    grid-area: oque;
                }
                .perfilAluno {
                    grid-area: prfl;
                }
                .objetivoFormacao {
                    grid-area: objF;
                }
                .objetivoEspecifico {
                    grid-area: objE;
                }
            }
    }
    .topico-matriz {
        margin-top: 1rem;
        .qualificacao {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            p {
                font-size: 2rem;
            }
            .matrizTexto {
                width: 70%;
                margin: 5rem;
            }
            .sequenciaModulos {
                justify-content: center;
                padding: 2rem;
                width: 95vw;
                display: flex;
                gap: 2rem;
                .modulo {
                    animation: floatBox 3s ease infinite;
                }
                p{
                    padding: 1rem;
                    width: 28vw;
                    font-size: 2.5rem;
                    min-width: 200px;
                }
                span{
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
        .containerTable {
            display: flex;
            align-items: center;
            justify-content: space-around;
                height: 900px;
                button {
                    all: unset;
                    height: 13vh;
                    border-radius: 500px;
                    background-color: var(--primary-color-dark);
                    color: var(--text-color-dark);
                    cursor: pointer;
                    transition: background-color 0.4s ease;
                    i {
                        font-size: 5rem;
                    }
                }
                button:hover {
                    background-color: #91003a;
                }
                .tabelas-modulos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 2rem;
                    gap: 2rem;
                    h1{
                        margin: 1.5rem;
                    }
                    .moduloTabela {
                    margin: 0;
                    transition: translate 0.5s ease, opacity 1s ease;
                    table {
                        box-shadow: 0 0 20px rgba(255, 0, 102, 0.719);
                        overflow: hidden;
                        border-radius: 25px;
                        width: 50vw;
                        th{
                            font-weight: bold;
                            padding: 10px;
                            background: var(--primary-color-dark)
                        }
                        .tdBold {
                            font-weight: bold;
                            text-align: center;
                        }
                        td{
                            padding: 7px;
                        }
                        tr{
                            background: var(--header-color-dark);
                        }
                    }
                }
            }
        }
    }
    .topico-laboratorios {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        'lab img'
        'res img';
        .labInfra {
            grid-area: lab;
            margin-bottom: 2rem;
        }
        .recursos {
            grid-area: res;
        }
        .imgInfra {
            grid-area: img;
            .containerImgs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 2.2rem;
            }
            img {
                width: 25rem;
                border: solid 3px var(--primary-color-dark);
                box-shadow: 6px 6px 5px rgba(255, 0, 102, 0.322);
                transition: transform 0.4s ease;
            }
            img:hover {
                transform: translate(-20px, -8px) scale(1.05);
                cursor: pointer;
            }
            #overlay.ativo {
                img {
                    transform: scale(2.7);
                }
                img:hover {
                    transform: scale(2.7);
                    cursor: default;
                }
            }
            img:focus {
                transform: none;
                outline: 3px solid rgba(255,255,255,0.12);
            }
        }
        .containerImgs {
            #overlay {
                position: fixed;
                inset: 0;
                background: rgba(0,0,0,0.9);
                display: none;
                align-items: center;
                justify-content: center;
                z-index: 7000;
            }
            #overlay.ativo { display: flex !important; }
            #overlay img#imgxpan {
                max-width: 90%;
                max-height: 90%;
                object-fit: contain;
                transition: transform 0.3s ease;
            }
            #overlay .fechar {
                position: absolute;
                top: 1rem;
                left: 3rem;
                font-size: 8rem;
                background: transparent;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
    .topico-docentes{
        margin-top: 10rem;
        .conteudo-docentes{
            display: flex;
        }
        .doc1{
            width: 35vw;
        }
        .doc2{
            width: 65vw;
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    z-index: 5000;
    position: relative;
    bottom: 0;
    right: 0;
    height: 23rem;
    padding: 3rem;
    margin-top: 3.5rem;
    background-color: var(--header-color-dark);
    color: var(--text-color-dark);
    border-top: 2px solid var(--primary-color-dark);
    box-shadow: 0 -2px 5px 1px rgba(255, 255, 255, 0.5);
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10rem;
        margin: auto;
        .footer-box {
            flex: 1;
            min-width: 250px;
            h3 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
                display: flex;
                gap: .5rem;
                text-shadow: 0px 0px 4px var(--primary-color-dark);
            }
            a {
                font-size: 1.1rem;
                line-height: 1.7;
                text-decoration: none;
                color: var(--text-color-dark);
            }
            a:hover {
                color: var(--primary-color-dark);
            }
            .social {
                margin-top: 1rem;
                display: flex;
                gap: 1.3rem;
                a {
                    font-size: 1.8rem;
                    transition: color 0.4s ease;
                }
                a:hover {
                    color: var(--primary-color-dark);
                }
            }
        }
    }
    .footer-bottom {
        text-align: center;
        font-size: 1rem;
        opacity: 0.8;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top: 1rem;
    }
}

@media (max-width: 1500px) {
    body {
        p {
            font-size: 1rem;
        }
        li {
            text-indent: 0.8rem;
            font-size: 1rem;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--text-color-light);
        background-color: var(--secondary-color-light);
        .card {
            border: solid 3px var(--primary-color-light);
            box-shadow: 6px 6px 5px rgba(36, 140, 182, 0.322);
        }
        h1 {
            text-shadow: 0.5px 0.5px 3px var(--primary-color-light)
        }
        arrow {
            color: var(--primary-color-light);
        }
    }
    header {
        background-color: var(--secondary-color-light);
        h4 {
            text-shadow: 0.5px 0.5px 3px var(--primary-color-light);
        }
        nav{
            ul{
                li {
                    a.link-content {
                        color: var(--text-color-light);
                    }
                    a.link-content::after{
                        background-color: var(--text-color-light);
                    }
                }
            }
        }
    }
    header.scrolled {
        background: rgba(231, 231, 231, 0.63);
        backdrop-filter: blur(3px);
        box-shadow: 0 0px 10px 4px rgba(36, 140, 182);
    }
    main {
        background: var(--secondary-color-light);
        .contBoard {
            background: linear-gradient(100deg, rgb(204, 199, 199), rgb(97, 96, 96));
            transition: background 1s ease;
            h1 {
                background: linear-gradient(90deg, rgb(36, 140, 182), #4973e6);
                -webkit-background-clip: text;
                background-clip: text;
                text-shadow: 0 0 8px rgba(17, 113, 223, 0.15);
            }
            a {
                color: rgb(41, 41, 41);
            }
            h3 {
                border: 2px var(--primary-color-light) solid;
                background: linear-gradient(90deg, rgb(67, 171, 212), #4973e6);
            }
            h3:hover {
                box-shadow: 0 0 6px 2px rgb(36, 140, 182);
            }
        }
        .contBoard.scroll {
            background: var(--secondary-color-light);
        }
        .topico-matriz {
            .containerTable {
                button {
                    background-color: var(--primary-color-light);
                }
                button:hover {
                    background-color: #4a68b9;
                }
                .tabelas-modulos {
                    .moduloTabela {
                        table {
                            box-shadow: 0 0 20px rgba(36, 140, 182, 0.719);
                            th {
                                background: var(--primary-color-light);
                            }
                            tr {
                                background: var(--header-color-light);
                            }
                        }
                    }
                }
            }
        }
        .topico-laboratorios {
            .containerImgs {
                img {
                    border: solid 3px var(--primary-color-light);
                    box-shadow: 6px 6px 5px rgba(36, 140, 182, 0.322);
                }
            }
        }
    }

    footer {
        background-color: var(--header-color-light);
        color: var(--text-color-light);
        border-top: 2px solid var(--primary-color-light);
        box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.267);
        .footer-container {
            .footer-box {
                h3 {
                    text-shadow: 0px 0px 4px var(--primary-color-light);
                }
                a {
                    color: var(--text-color-light);
                }
                a:hover {
                    color: var(--primary-color-light);
                }
                .social {
                    a {
                    color: var(--text-color-light);
                }
                a:hover {
                    color: var(--primary-color-light);
                }
                }
            }
        }
        .footer-bottom {
            border-top: 1px solid rgba(0, 0, 0, 0.788);
        }
    }
}